.ant-layout {
  width: 100vw;
  height: 130vh;
}

.logo-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  img {
    width: 120px !important;
  }
}

.ant-layout-sider,
.ant-menu {
  background-color: rgb(15, 12, 34) !important;
}
.ant-menu-item-selected,
.ant-menu-item-active {
  background-color: rgb(39, 37, 57) !important;
}

.ant-layout-header {
  background-color: #ffc700 !important;
}

.ant-menu-title-content {
  a {
    color: #ffc700 !important;
  }
}
